{% extends 'layouts/base.html' %}

{% block styles %}
{{ super() }}
<style>
    html,
    body {
        height: 100%;
    }

    .form-login-container {
        position: absolute;
        top: 0;
        left: 0;
    }

    .form-login {
        max-width: 400px;
    }
</style>
{% endblock %}

{% block content %}
<div class="form-login-container h-100 w-100 z-3">
    <div class="d-flex flex-rows h-100 v-100">
        <form class="form-login w-md-100 m-auto py-2 px-4 border rounded-3 bg-body-tertiary" method="POST"
            action="{{ url_for('login.login') }}?next={{ next | safe }}">
            {{ form.csrf_token }}
            <h1 class="text-center">Login</h1>
            <div class="form-floating mb-3">
                {{ form.username(size=24, class_="form-control", placeholder="Username") }}
                <label for="username">{{ form.username.label }}</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.password(size=24, class_="form-control", placeholder="Password") }}
                <label for="password">{{ form.password.label }}</label>
            </div>
            <div class="form-floating mb-3 text-end">
                <input class="btn btn-primary mb-3" type="submit" value="Login" />
            </div>
        </form>
    </div>
</div>
{% endblock %}