{% extends 'layouts/base.html' %}

{% set activePage = 'Project' %}

{% block header %}
{% include 'includes/project-header.html.jinja' %}
{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center border-bottom">
    <h1 class="display-5 fw-bold text-body-emphasis">{{ project.name }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            {{ project.description }}
        </p>
    </div>
</div>
<div class="container px-4" id="icon-grid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col d-flex align-items-start">
            <div>
                <h2 class="fw-bold mb-0 fs-4">{{ project_status.num_documents }}</h2>
                <p>The total number of documents assigned to you.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h2 class="fw-bold mb-0 fs-4">{{ project_status.num_completed }}</h2>
                <p>The number of documents completed by you.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h2 class="fw-bold mb-0 fs-4">{{ project_status.num_remaining }}</h2>
                <p>The number of documents remaining to be completed by you.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h2 class="fw-bold mb-0 fs-4">{{ '%d' | format(project_status.progress) }}%</h2>
                <p>The percentage of documents completed by you.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}