{% set title = "TextFlow" %}
{% from "layouts/pagination.html" import render_pagination with context %}
{% set messages = get_flashed_messages(with_categories=True) %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
                {{ title }}
            {% endblock title %}
        </title>
        {% block styles %}
            <link href="{{ url_for('static', filename='packages/bootstrap/css/bootstrap.css') }}"
                  rel="stylesheet">
            <link href="{{ url_for('static', filename='packages/bootstrap-icons/font/bootstrap-icons.css') }}"
                  rel="stylesheet">
            <style>
                html, body {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                }

                #main-container {
                    flex-grow: 3;
                }
            </style>
        {% endblock styles %}
        <link rel="favicon icon"
              href="{{ url_for('static', filename='favicon.svg') }}">
        <!--suppress JSUnresolvedVariable -->
        <script>
        {% if current_user.is_authenticated %}
        let userTheme = "{{ current_user.profile.theme }}";
        {% else %}
        let userTheme = null;
        {% endif %}

        const updateTheme = (theme) => {
            let data = {
                'profile': { 'theme': theme }
            }
            $.ajax({
                type: 'POST',
                url: "{{ url_for('user.update_user') }}",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ data }),
                success: function (data) {
                    console.log(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        };

        const getPreferredTheme = () => {
            if (userTheme !== null) {
                return userTheme;
            }
            const storedTheme = localStorage.getItem('theme')
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        };

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
            updateTheme(theme);
        };

        (() => {
            'use strict'
            setTheme(getPreferredTheme());
        })();
        </script>
    </head>
    <body>
        {% block header %}
            {% include "includes/header.html" %}
        {% endblock header %}
        {% block is_full_content %}
            <div id="main-container" class="container d-flex flex-column">
                {% block content %}
                {% endblock content %}
            </div>
        {% endblock is_full_content %}
        {% block scripts %}
            <script src="{{ url_for('static', filename='packages/jquery/jquery-3.5.1.min.js') }}"></script>
            <script src="{{ url_for('static', filename='packages/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <!--suppress JSUnresolvedVariable -->
        {% endblock %}
    </body>
</html>
