html {
    height: 100%;
}

body {
    height: 100%;
}

#app {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 250px;
        min-height: 100%;
        position: fixed;
    }

    .content {
        margin-left: 250px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar {
    padding: 1em 0 !important;
}

.sidebar .menu-label {
    padding-left: 1em;
}

.sidebar .menu-list a {
    border-radius: 0 !important;
    color: hsl(207, 61%,  53%);
    padding: .75em;
}

.sidebar .menu-list a.is-active {
    background-color: hsl(207, 61%,  53%);
    color: #fff !important;
}

.sidebar .menu-list a:hover:not(.is-active) {
    background-color: hsl(207, 61%,  40%);
    color: #fff !important;
}
