<nav class="navbar is-fixed-top is-light is-bold pl-3 pr-3" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">{{ title }}</a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
            {% if current_user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="">
                        <span><i class="fas fa-user"></i></span>
                    </a>
                    <div class="navbar-dropdown is-boxed is-right">
                        <a href="/logout" class="dropdown-item">
                            <i class="fas fa-sign-out-alt"></i> Log out
                        </a>
                    </div>
                </div>
            {% else %}
                <!--
                <a href="/signup" class="button is-light">
                    <i class="fas fa-user-plus"></i>
                </a>
                -->
                <a class="navbar-item" href="/login">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            {% endif %}
        </div>
    </div>
</nav>