{% set title="TextFlow" %}

{% from "_pagination.html" import render_pagination with context %}

<!DOCTYPE html>
<html class="has-navbar-fixed-top is-themed" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="/static/styles/bulma.min.css">
        <link rel="stylesheet" href="/static/styles/base.css">
        <link rel="stylesheet" href="/static/styles/theme.css">
    {% endblock %}
    <link rel="favicon icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <script src="/static/scripts/theme.js"></script>
    <script>
        theme.refresh();
    </script>
</head>
<body>
{% block header %}{% include '_header.html' %}{% endblock %}
{% block is_full_content %}
    <section class="section p-6">
        <div class="container">{% block content %}{% endblock %}</div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="/static/scripts/jquery-3.5.1.min.js"></script>
    <script src="/static/scripts/fontawesome.all.js"></script>
    <script src="/static/scripts/base.js"></script>
{% endblock %}
</body>
</html>