{% set title="TextFlow" %}

{% from "_pagination.html" import render_pagination with context %}

{% set messages = get_flashed_messages(with_categories=True) %}

<!DOCTYPE html>
<html class="has-navbar-fixed-top is-themed" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/toastr.min.css') }}">
    {% endblock %}
    <link rel="favicon icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <script src="{{ url_for('static', filename='scripts/theme.js') }}"></script>
    <!--suppress JSUnresolvedVariable -->
    <script>
        {% if current_user.is_authenticated %}
            theme.set('{{ current_user.profile.theme }}');
        {% endif %}

        theme.refresh();

        function updateTheme() {
            let data = {
                'profile': {'theme': theme.get()}
            }
            $.ajax({
                type: 'POST',
                url: '{{ url_for('user_view.update_user') }}',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({data}),
                success: function (data) {
                    console.log(data);
                },
            });
        }
    </script>
</head>
<body>
{% block header %}{% include '_header.html' %}{% endblock %}
{% block is_full_content %}
    <section class="section p-0">
        {% block content_header %}{% endblock %}
        <div class="container">{% block content %}{% endblock %}</div>
        {% block content_footer %}{% endblock %}
    </section>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/fontawesome.all.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/base.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/toastr.min.js') }}"></script>
    <!--suppress JSUnresolvedVariable -->
    <script>
        $(document).ready(function () {
            toastr.options.positionClass = 'toast-bottom-full-width';
            toastr.options.closeHtml = '<button class="delete"></button>';
            toastr.options.toastClass = 'notification is-info';
            toastr.options.closeButton = true;
            {% if messages %}
                {% for category, message in messages %}
                    toastr.info('{{ message }}');
                {% endfor %}
            {% endif %}
        });
    </script>
{% endblock %}
</body>
</html>