<!-- This template is used to annotate a document.

The user/annotator can 
    - select a/multiple label for a document;
    - select a/multiple labels for a single span of text;
    - flag a document;
    - skip a document;
    - move to the next document.

Notes: Updates to the annotations should be seamlessly 
updated in the user interface, therfore, we need to use AJAX.
-->
{% extends 'layouts/base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='packages/recogito-js/recogito.min.css') }}">
    {% include "includes/annotate.css.jinja" %}
{% endblock styles %}
{% set activePage = "Annotate" %}
{% block header %}
    {% include "includes/project-header.html.jinja" %}
{% endblock header %}
{% block content %}
    <div id="app" style="max-height: 100%;">
        <div class="container bg-body-tertiary rounded-3 mt-3 p-3"
             v-if="initialized && document">
            <div class="row mb-3">
                <div class="d-flex flex-row">
                    <button class="btn ms-auto"
                            :diabled="loading"
                            :class="guidelineState['show'] ? 'btn-info' : 'btn-outline-info'"
                            v-on:click="guidelineState['show']=!guidelineState['show']">Guide</button>
                    <a id="skipButton"
                       :diabled="loading"
                       class="btn btn-outline-primary ms-3"
                       v-on:click="submit(null, 'skip')">Skip</a>
                    <a id="flagButton"
                       :diabled="loading"
                       class="btn ms-3"
                       :class="annotationSet.flagged ? 'btn-warning' : 'btn-outline-secondary'"
                       v-on:click="toggleFlag()">Flag</a>
                    <a id="nextButton"
                       :diabled="loading"
                       class="btn btn-outline-primary ms-3"
                       v-on:click="submit(null, 'next')">Next</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mt-3 p-3 border">
                        <template v-for="(task, index) in project.tasks">
                            <div class="pt-3"
                                 :class="index != 0 ? 'border-top' : ''"
                                 v-if="taskState[index]">
                                <div class="mb-3" v-if="isTaskType(task, 'span-categorization')">
                                    <annotation-component :id="'annotation-field-' + index" :labels="task.labels" :text="document.text" :annotations="annotationSet.annotations" v-on:created="createAnnotation" v-on:deleted="deleteAnnotation" v-on:updated="createAnnotation"></annotation-component>
                                </div>
                                <div class="mb-3" v-if="isTaskType(task, 'document-text')">
                                    <p>${ document.text }</p>
                                </div>
                                <div class="mb-3" v-if="isTaskType(task, 'text-classification')">
                                    <h1 v-if="task.title">${ task.title }</h1>
                                    <p v-if="task.description">${ task.description }</p>
                                    <template v-for="label in task.labels">
                                        <input type="checkbox"
                                               class="btn-check"
                                               :data-tf-label-group="label.group ? label.group : null"
                                               :value="label.value"
                                               :checked="(label.value in labelState) && labelState[label.value]"
                                               :id="'btn-option-'+ label.value"
                                               v-on:change="updateLabelState"
                                               :disabled="loading">
                                        <label class="btn btn-outline-primary me-3"
                                               :for="'btn-option-' + label.value">${ label.label }</label>
                                    </template>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="collapse h-100 p-3 border"
                     :class="{'col-6 col-md-5 show': guidelineState['show']}"
                     id="guidelineContainer">${ project.guideline_template }</div>
            </div>
        </div>
        <div class="container bg-body-tertiary rounded-3 mt-3 p-3" v-else>
            No documents.
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='packages/recogito-js/recogito.min.js') }}"></script>
    <script src="{{ url_for('static', filename='packages/recogito-js/recogito-widgets.min.js') }}"></script>
    <!--suppress JSUnresolvedFunction, JSUnresolvedVariable -->
    <script src="{{ url_for('static', filename='packages/vue-js/vue.global.prod.js') }}"></script>
    <script>
        // collection of URL endpoints
        {% if document is not none %}
        const url_for = {
            post_annotation: "{{ url_for('annotate.post_annotation', project_id = project.id, document_id = document.id) }}",
            get_annotations: "{{ url_for('annotate.get_annotations', project_id = project.id, document_id = document.id) }}",
            annotate_next: "{{ url_for('annotate.annotate_next', project_id = project.id) }}",
            get_document: "{{ url_for('annotate.get_document', project_id = project.id, document_id = document.id) }}",
            get_project: "{{ url_for('project.get_project', project_id = project.id) }}",
        };
        {% else %}
        const url_for = {
            annotate_next: "{{ url_for('annotate.annotate_next', project_id = project.id) }}",
            get_project: "{{ url_for('project.get_project', project_id = project.id) }}",
        }
        {% endif %}

        const app = Vue.createApp({
            data() {
                return {
                    // state managed by Vue
                    initialized: false,
                    loading: true,
                    errors: [],
                    taskState: {},
                    labelState: {},
                    guidelineState: {
                        'show': false,
                        'absolute-position': false,
                    },
                    // loaded from server
                    // - static
                    project: null,
                    document: null,
                    // - dynamic
                    annotationSet: null,
                }
            },
            methods: {
                evaluate: function(condition) {
                    // Evaluates a condition on status of the labels.
                    // condition is a json object or null
                    // if condition is null, return true
                    let result = false;
                    if (condition === null) {
                        result = true;
                    } else if (typeof condition === 'undefined') {
                        result = true;
                    } else if ('var' in condition) {
                        if (condition.var in this.labelState) {
                            result = this.labelState[condition.var];
                        }
                    } else if ('and' in condition) {
                        result = condition['and'].every((k) => this.evaluate(k));
                    } else if ('or' in condition) {
                        result = condition['or'].some((k) => this.evaluate(k));
                    } else if ('not' in condition) {
                        result = !this.evaluate(condition['not']);
                    }
                    return result;
                },
                isTaskType: function (task, type) {
                    // the task type is not dedined => false
                    if (!task.type) {
                        return false;
                    }
                    return task.type === type;
                },
                updateTaskState: function() {
                    this.project.tasks.forEach((task, i, array) => {
                        const taskState = this.evaluate(task.condition);
                        this.taskState[i] = taskState;
                        if (!taskState) {
                            task.labels.forEach((label, j, array) => {
                                this.labelState[label.value] = false;
                            });
                        }
                    });
                },
                updateLabelState: function(event) {
                    this.labelState[event.target.value] = event.target.checked;
                    // disable and uncheck all others in same group
                    let dataGroup = event.target.getAttribute('data-tf-label-group');
                    console.log('dataGroup :', typeof dataGroup, ' = ', dataGroup);
                    if (dataGroup !== null || typeof dataGroup !== 'undefined' || dataGroup !== '') {
                        this.project.tasks.forEach((task, i, array) => {
                            task.labels.forEach((label, j, array) => {
                                if (label.group === dataGroup && label.value !== event.target.value) {
                                    this.labelState[label.value] = false;
                                }
                            });
                        });
                    }
                    this.updateTaskState();
                    const labelStateList = [];
                    for (const [value, state] of Object.entries(this.labelState)) {
                        labelStateList.push({
                            'value': value,
                            'status': state,
                        });
                    }
                    this.submit({'labels': labelStateList}, 'label');
                },
                toggleGuideline: function() {
                    console.log('toggleGuideline');
                },
                toggleFlag: function () {
                    const isFlagged = this.annotationSet.flagged;
                    const data = {
                        'status': !isFlagged,
                    }
                    // output is a promise
                    this.submit(data, 'flag');
                },
                submit: function(data, type='label', method='post') {
                    this.loading = true;
                    let target = null;
                    if (['next', 'skip'].includes(type)) {
                        // after skipping or moving to next document, redirect to annotate_next
                        // todo: we can do this more efficiently using AJAX
                        target = url_for.annotate_next;
                    }
                    let payload = { type };
                    if (data !== null) {
                        payload = { data, type };
                    }
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            type: method,
                            url: url_for.post_annotation,
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(payload),
                            success: (data) => {
                                if (data['status'] !== 'success') {
                                    // errors and failiures
                                    this.errors.push(data);
                                    reject();
                                } else {
                                    resolve();
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                const data = {
                                    message: '' + errorThrown || textStatus,
                                    status: 'error'
                                }
                                console.log('error', data);
                                this.errors.push(data);
                                reject();
                            },
                        });
                    }).finally(() => {
                        // update annotations after each submission
                        // to annotation api
                        this.getAnnotations().then(() => {
                            this.loading = false;
                            if (target !== null) {
                                location.replace(target);
                            }
                        }).catch(() => {
                            this.loading = false;
                        });
                    });
                },
                getProperty: function(url, target, success=null, error=null) {
                    if (typeof url === 'undefined' || url === null) {
                        return new Promise((resolve, reject) => {
                            // reject to load annotaitons
                            reject();
                        });
                    }
                    this[target] = {'errors': []};
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: url,
                            type: 'GET',
                            dataType: 'json',
                            success: (data, textStatus, jqXHR) => {
                                if (data['status'] !== 'success') {
                                    // errors and failiures
                                    this[target].errors.push(data);
                                    if (error) error();
                                    reject();
                                }
                                this[target] = Object.assign(this[target], data['data']);
                                if (success) success();
                                resolve();
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                const data = {
                                    message: '' + errorThrown || textStatus,
                                    status: 'error'
                                }
                                console.log('error', data);
                                this[target].errors.push(data);
                                if (error) error();
                                reject();
                            },
                        });
                    });
                },
                getAnnotations: function() {
                    const isAlreadyLoading = this.loading;
                    this.loading = true;
                    return this.getProperty(
                        url_for.get_annotations,
                        'annotationSet',
                    ).then(() => {
                        console.log('annotationSet :', JSON.stringify(this.annotationSet));
                        this.labelState = {};
                        // update label state
                        this.annotationSet.annotations.forEach((annotation, i, array) => {
                            annotation.labels.forEach((label, j, array) => {
                                this.labelState[label.value] = true;
                            });
                        });
                        // update task state
                        this.updateTaskState();
                    }).catch(() => {
                        // failed to load the annotations
                        // need to refresh the page to continue
                        self.initialized = false;
                    }).finally(() => {
                        // loading is complete
                        // set loading to false if it was not already loading
                        if (!isAlreadyLoading) { 
                            this.loading = false;
                        }
                    });
                },
                createAnnotation: function(annotation) {
                    const annotationID = annotation.id;
                    let span = null;
                    annotation.target.selector.forEach((selector) => {
                        if (selector.type === 'TextPositionSelector') {
                            span = {
                                start: selector.start,
                                length: selector.end - selector.start
                            };
                        }
                    });
                    let labels = [];
                    annotation.body.forEach((body) => {
                        if (body.type === 'TextualBody') {
                            labels.push({ 'value': body.value });
                        }
                    });
                    let data = { span, labels };
                    if (!annotationID.toString().startsWith('#')) {
                        data['id'] = annotationID;
                    }
                    this.submit(data, 'annotation')
                        .catch(() => {
                            console.log(JSON.stringify(this.errors));
                        });;
                },
                deleteAnnotation: function(annotation) {
                    this.submit(annotation, 'annotation', 'DELETE')
                        .catch(() => {
                            console.log(JSON.stringify(this.errors));
                        });
                },
                initialize: function() {
                    this.loading = true;
                    this.initialized = false;
                    // get annotations and init
                    // project and document are supposed to be static throught 
                    // the current page (until browser refresh)
                    // therefore it is only loaded initially
                    return new Promise((resolve, reject) => {
                        this.getProperty(
                            url_for.get_project,
                            'project'
                        ).then(() => {
                            this.updateTaskState();
                            this.getProperty(
                                url_for.get_document,
                                'document',
                            ).then(() => {
                                this.initialized = true; 
                                this.getAnnotations()
                                    .then(resolve)
                                    .catch(reject);
                            }).catch(reject);
                        }).catch(reject);
                    }).catch(() => {
                        console.log(JSON.stringify(this.errors));
                    })
                    .finally(() => {
                        this.loading = false
                    });
                },
            },
            computed: {
                labels: function() {
                    let labels = [];
                    this.project.tasks.forEach((task, i, array) => {
                        task.labels.forEach((label, j, array) => {
                            labels.push(label);
                        });
                    });
                    return labels;
                },
            },
            mounted: function() {
                // Initialize when document is ready
                this.initialize();
            },
            delimiters: ['${', '}'],
        });

        app.component('annotation-component', {
            props: {
                id: String, 
                text: String, 
                annotations: {
                    type: Array,
                    default: []
                },
                locale: {
                    type: String,
                    default: 'auto'
                },
                allowEmpty: {
                    type: Boolean,
                    default: true
                },
                labels: {
                    type: Array,
                    default: []
                },
                formatter: {
                    type: Function,
                    default(annotation) {
                        classes_ = (annotation.bodies.length > 1) ? 'has-multiple-bodies' : '';
                        if (annotation.bodies.length > 0) {
                            classes_ += ' annotation-' + annotation.bodies[0].value;
                        }
                        return classes_
                    }
                },
            },
            data: function () {
                return {
                    annotator: null,
                    widgets: [
                        {
                            widget: recogito.widgets.Classify,
                            options: this.labels,
                        },
                    ]
                }
            },
            methods: {
                deleteAnnotation: function(annotation) {
                    this.$emit('deleted', annotation)
                },
                createAnnotation: function(annotation) {
                    this.$emit('created', annotation)
                },
                updateAnnotation: function(annotation) {
                    this.$emit('updated', annotation)
                },
                initialize: function() {
                    this.annotator = Recogito.init({
                        content: this.id, 
                        locale: this.locale,
                        allowEmpty: this.allowEmpty,
                        widgets: this.widgets,
                        formatter: this.formatter,
                    });
                    this.annotator.on('createAnnotation', this.createAnnotation);
                    this.annotator.on('updateAnnotation', this.updateAnnotation);
                    this.annotator.on('deleteAnnotation', this.deleteAnnotation);
                },
            },
            computed: {
                labelValues: function() {
                    const values = this.labels.map((label) => label.value);
                    return new Set(values);
                },
            },
            watch: {
                annotations: {
                    handler(annotations, oldAnnotations) {
                        if (this.annotator === null) {
                            return;
                        }
                        let anns = [];
                        annotations.forEach((annotation, i, array) => {
                            if (annotation.span !== null) {
                                let labels = [];
                                if (annotation.labels !== null) {
                                    annotation.labels.forEach((label) => {
                                        if (this.labelValues.has(label.value)) {
                                            labels.push({
                                                'type': 'TextualBody',
                                                'value': label.value,
                                                'purpose': 'classifying'
                                            });
                                        }
                                    });
                                }
                                console.log('labels :', JSON.stringify(labels));
                                if (labels.length === 0) {
                                    return;
                                }
                                annotation = {
                                    '@context': 'http://www.w3.org/ns/anno.jsonld',
                                    'id': annotation.id,
                                    'type': 'Annotation',
                                    'body': labels,
                                    'target': {
                                        'selector': [{
                                            'type': 'TextPositionSelector',
                                            'start': annotation.span.start,
                                            'end': annotation.span.start + annotation.span.length
                                        }]
                                    }
                                };
                                anns.push(annotation);
                            };
                            this.annotator.clearAnnotations();
                            anns.forEach((annotation, i, array) => {
                                this.annotator.addAnnotation(annotation);
                            });
                        });
                    },
                    immediate: true,
                    deep: true,
                }
            },
            mounted() {
                this.initialize();
            },
            delimiters: ['${', '}'],
            template: `<div :id="id" class="plaintext">\${ text }</div>`
        });

        app.mount('#app');
    </script>
{% endblock scripts %}
