{% extends '_layouts/default.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='packages/recogito-js/recogito.min.css') }}">
<style>
{% for label in project.labels %}
.annotation-{{ label.value }} {
    background-color: rgba({{ label.color_rgb }}, 0.2);
    border-bottom: 2px solid {{ label.color }};
}
{% endfor %}
</style>
{% endblock %}

{% block content %}
<div class="columns">
    <div class="column">
        <div class="buttons">
            <a href="{{ url_for('project.view_project', project_id=project.id) }}" class="button is-highlight">
                <span class="icon"><i class="fas fa-tasks" aria-label="Project"></i></span><span>Project</span>
            </a>
            <a href="{{ url_for('project.view_project_history', project_id=project.id) }}" class="button is-highlight">
                <span class="icon"><i class="fas fa-history"></i></span><span>History</span>
            </a>
            <a href="{{ url_for('annotate.annotate_next', project_id=project.id) }}"
                class="button is-highlight has-text-link is-static">
                <span class="icon"><i class="fas fa-tag"></i></span><span>Annotate</span>
            </a>
        </div>
    </div>
    {% if (document is defined) and (document is not none) %}
    <div class="column">
        <div class="buttons is-pulled-right">
            <button class="button is-info is-light" onclick="toggleGuideline()">
                <span class="icon ml-1"><i class="fas fa-book" aria-label="Guideline"></i></span><span
                    class="mr-1">Guide</span>
            </button>
            <a id="skipButton" href="javascript:void(0)" class="button is-danger is-light"
                onclick="submit(null, 'skip')">
                <span class="icon ml-1">
                    <i class="fas fa-forward mr-1" aria-label="Skip"></i>
                </span><span class="mr-1">Skip</span>
            </a>
            <a id="flagButton" href="javascript:void(0)"
                class="button {% if annotation_set.flagged %}is-warning{% else %}is-light{% endif %}"
                onclick="submit({'status':'{{ annotation_set.flagged }}' !== 'True'}, 'flag')">
                <span class="icon ml-1">
                    <i class="fas fa-flag mr-1" aria-label="Flag"></i>
                </span><span class="mr-1">Flag</span>
            </a>
            <a id="nextButton" href="javascript:void(0)" class="button is-success is-light"
                onclick="submit(null, 'next')">
                <span class="icon ml-1">
                    <i class="fas fa-play mr-1" aria-label="Next"></i>
                </span><span class="mr-1">Next</span>
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% if (document is defined) and (document is not none) %}
<div class="columns">
    <div class="column">
        <div class="row">
            {% for ll in project.labels %}
            <label>
                <input type="checkbox" value="{{ ll.value }}" id="var_option_{{ ll.value }}"
                    onchange="submit(getLabel('{{ ll.value }}'), 'label')" hidden>
            </label>
            {% endfor %}
            <div class="field is-grouped is-grouped-multiline pt-3">
                {% for ll in project.labels %}
                <div class="control" id="option_{{ ll.value }}" hidden>
                    <div class="tags has-addons" onclick="addLabel('{{ ll.value }}')">
                        <span class="tag is-medium">{{ ll.label }}</span>
                        <span class="tag is-medium" style="color: {{ ll.color }}">
                            <i class="fas fa-times-circle"></i>
                        </span>
                    </div>
                </div>
                <div class="control" id="selected_option_{{ ll.value }}" hidden>
                    <div class="tags has-addons" onclick="removeLabel('{{ ll.value }}')">
                        <span class="tag is-medium">{{ ll.label }}</span>
                        <span class="tag is-medium" style="color: {{ ll.color }}">
                            <i class="fas fa-check-circle"></i>
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row py-3">
            <div id="annotation-field" class="plaintext">{{ document.text | safe }}</div>
        </div>
    </div>
</div>
{% if project.render_guideline() is not none %}
<div id="guideline" class="column is-one-third-desktop" style="display: none;">
    <div class="box">
        {{ project.render_guideline() | safe }}
    </div>
</div>
{% endif %}
</div>
{% else %}
<section class="hero is-fullheight-with-stuff">
    <div class="hero-content">
        <div class="container">
            <h1 class="is-size-2 has-text-centered">
                Congratulations!
            </h1>
            <h2 class="is-size-4 has-text-centered mt-4">
                You've completed all the available documents for annotation at this time.
            </h2>
            <h2 class="is-size-4 has-text-centered">
                We appreciate your dedication and commitment to engaging with this project.
            </h2>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='packages/recogito-js/recogito.min.js') }}"></script>
<script src="{{ url_for('static', filename='packages/recogito-js/recogito-widgets.min.js') }}"></script>
<!--suppress JSUnresolvedFunction, JSUnresolvedVariable -->
{% if (document is defined) and (document is not none) %}
<script>
    // collection of URL endpoints
    const url_for = {
        annotations_api: "{{ url_for('annotate.get_annotations', project_id = project.id, document_id = document.id) }}",
        annotate_next: "{{ url_for('annotate.annotate_next', project_id = project.id) }}",
    };

    const documentID = '{{ document.id | safe }}';

    const documentText = '{{ document.text | safe }}';

    const projectType = '{{ project.type }}';

    const labelOptions = JSON.parse('{{ options | safe }}');

    let currentSelection = null;

    let annotator = null;

    const setDocumentAnnotations = function (annotations) {
        let checkedLabels = [];
        annotations.forEach(function (annotation) {
            annotation.labels.forEach(function (label) {
                checkedLabels.push(label.value);
            });
        });
        labelOptions.forEach(function (label) {
            let var_checkbox = $('#var_option_' + label.value);
            let removeLabelBtn = $('#selected_option_' + label.value);
            let addLabelBtn = $('#option_' + label.value);
            if (checkedLabels.includes(label.value)) {
                var_checkbox.prop('checked', true);
                removeLabelBtn.show();
                addLabelBtn.hide();
            } else {
                var_checkbox.prop('checked', false);
                removeLabelBtn.hide();
                addLabelBtn.show();
            }
        });
    }

    function loading(state = true) {
        let nextButton = document.getElementById('nextButton');
        if (state) {
            nextButton.classList.add('is-loading');
        } else {
            nextButton.classList.remove('is-loading');
        }
    }

    function toggleGuideline() {
        let x = document.getElementById("guideline");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function getLabel(id) {
        let checkbox = $('#option_' + id);
        return { value: checkbox.val(), status: checkbox.prop('checked') };
    }

    function addLabel(id) {
        let checkbox = $('#var_option_' + id);
        let data = {
            'labels': [
                { value: checkbox.val(), status: true },
            ]
        };
        submit(data, 'label');
    }

    function removeLabel(id) {
        let checkbox = $('#var_option_' + id);
        let data = {
            'labels': [
                { value: checkbox.val(), status: false },
            ],
        };
        submit(data, 'label');
    }

    /**
     * Update annotations
     */
    function refresh() {
        loading();
        $.get(url_for.annotations_api).then(
            (payload) => {
                const data = payload['data'];
                setDocumentAnnotations(data);
                annotator.clearAnnotations();
                data.forEach((annotation) => {
                    if (annotation.span !== null) {
                        let labels = [];
                        if (annotation.labels !== null) {
                            annotation.labels.forEach((label) => {
                                labels.push({
                                    'type': 'TextualBody',
                                    'value': label.value,
                                    'purpose': 'classifying'
                                });
                            });
                        }
                        annotation = {
                            '@context': 'http://www.w3.org/ns/anno.jsonld',
                            'id': annotation.id,
                            'type': 'Annotation',
                            'body': labels,
                            'target': {
                                'selector': [{
                                    'type': 'TextPositionSelector',
                                    'start': annotation.span.start,
                                    'end': annotation.span.start + annotation.span.length
                                }]
                            }
                        };
                        annotator.addAnnotation(annotation);
                    };
                });
                loading(false);
            }
        ).catch((error) => {
            console.log(error);
        });
    }

    /**
     * Submit data to server
     *
     * @param data: JSON data
     * @param type: type of submission; options: (label, annotation)
     * @param method: method to use for submission; options: (POST, DELETE)
     */
    function submit(data, type = 'label', method = 'POST') {
        loading();
        let target = null;
        if (['next', 'skip'].includes(type)) {
            target = url_for.annotate_next;
        } else if (type === 'flag') {
            target = window.location.href;
        }
        let payload = { type };
        if (data !== null) {
            payload = { data, type };
        }
        $.ajax({
            type: method,
            url: url_for.annotations_api,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(payload),
            success: function (data) {
                const message = data['data'];
                toastr.info(message['body']);
                loading(false);
                refresh();
                if (target !== null) {
                    window.location.href = target;
                }
            },
        });
    }

    const createAnnotation = (annotation) => {
        const annotationID = annotation.id;
        let span = null;
        annotation.target.selector.forEach((selector) => {
            if (selector.type === 'TextPositionSelector') {
                span = {
                    start: selector.start,
                    length: selector.end - selector.start
                };
            }
        });
        let labels = [];
        annotation.body.forEach((body) => {
            if (body.type === 'TextualBody') {
                labels.push({ 'value': body.value });
            }
        });
        let data = { span, labels };
        if (!annotationID.toString().startsWith('#')) {
            data['id'] = annotationID;
        }
        submit(data, 'annotation');
    };

    const deleteAnnotation = (annotation) => {
        submit(annotation, 'annotation', 'DELETE');
    }

    /**
     * Initialize page
     */
    function initialize() {
        annotator = Recogito.init({
            content: document.getElementById('annotation-field'), // ID or DOM element
            locale: 'auto',
            allowEmpty: true,
            widgets: [
                { widget: recogito.widgets.Classify, options: labelOptions },
            ],
            formatter: (annotation) => {
                classes_ = (annotation.bodies.length > 1) ? 'has-multiple-bodies' : '';
                if (annotation.bodies.length > 0) {
                    classes_ += ' annotation-' + annotation.bodies[0].value;
                }
                return classes_
            },
        });
        annotator.on('createAnnotation', createAnnotation);
        annotator.on('updateAnnotation', createAnnotation);
        annotator.on('deleteAnnotation', deleteAnnotation);
        // refresh page
        refresh();
    }

    /**
     * Initialize when document is ready
     */
    $(document).ready(initialize);
</script>
{% endif %}
{% endblock %}