{% extends '_layout.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/dash.css">
{% endblock %}

{% macro sidebar() %}
    <aside class="menu pl-3">
        <template v-for="(page, title, index) in pages">
            <a class="menu-label">
                (( title ))
            </a>
            <ul class="menu-list">
                <li v-for="section in page.sections">
                    <a v-bind:class="{'is-active': active_page===page.value && active_section===section.value}"
                       v-on:click="active_page=page.value;active_section=section.value;">
                        (( section.label ))
                    </a>
                </li>
            </ul>
        </template>
    </aside>
{% endmacro %}

{% macro content() %}
    <div class="container is-fluid">
        <div class="box" v-if="active_section === 'annotation'">
            <p class="title">Annotation Agreement</p>
            <div class="block">
                <div class="table-container">
                    <table class="table">
                        <tr>
                            <th v-for="col in agreement_scores.header">(( col ))</th>
                        </tr>
                        <tr v-for="cols in agreement_scores.rows">
                            <td v-for="col in cols">
                                <template v-if="Array.isArray(col)">
                                    <div class="tags are-small">
                                        <span class="tag" v-for="item in col">(( item ))</span>
                                    </div>
                                </template>
                                <template v-else>
                                    (( col ))
                                </template>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="box" v-if="active_section === 'dataset'">
            <p class="title">Dataset</p>
            <div class="block">
                <div class="field is-grouped">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="dataset-select" class="label">Dataset</label>
                        </div>
                    </div>
                    <div class="control">
                        <div class="select is-rounded is-primary">
                            <select id="dataset-select" v-model="selected_dataset">
                                <option v-for="dataset in datasets">(( dataset ))</option>
                            </select>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="dataset-validator" class="label">Validator</label>
                        </div>
                    </div>
                    <div class="control">
                        <div class="select is-rounded is-primary">
                            <select id="dataset-validator" v-model="validator">
                                <option v-for="group in groups">(( group ))</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary is-rounded" v-on:click="download">
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box" v-if="active_section === 'modeling'">
            <p class="title">Evaluate</p>
            <div class="block">
                <div class="field is-grouped">
                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label for="model-select" class="label">Model</label>
                        </div>
                    </div>
                    <div class="control">
                        <div class="select is-rounded is-primary">
                            <select for="model-select" v-model="selected_dataset">
                                <option v-for="dataset in datasets">(( dataset ))</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary is-rounded" v-on:click="evaluate">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            <!-- Results block -->
            <div class="block" v-if="eval_scores !== null">
                <div class="table-container">
                    <table class="table">
                        <tr>
                            <th v-for="col in eval_scores.header">(( col ))</th>
                        </tr>
                        <tr v-for="cols in eval_scores.rows">
                            <td v-for="col in cols">
                                <template v-if="Array.isArray(col)">
                                    <div class="tags are-small">
                                        <span class="tag" v-for="item in col">(( item ))</span>
                                    </div>
                                </template>
                                <template v-else>
                                    (( col ))
                                </template>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

<!--suppress XmlUnboundNsPrefix -->
{% block is_full_content %}
    <section id="app">
        <template v-if="isLoading">
            <div class="loading-page">
                <div class="container">
                    <div class="columns mt-0">
                        <div class="column is-half is-offset-one-quarter">
                            <progress class="progress is-small is-primary" max="100">Loading</progress>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="columns mt-0" style="height: 100%;">
                <div class="column sidebar is-themed is-darker">
                    {{ sidebar() }}
                </div>
                <div class="column content p-3">
                    {{ content() }}
                </div>
            </div>
        </template>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/scripts/vue.js"></script>
    <!--suppress JSUnresolvedFunction, JSUnresolvedVariable -->
    <script>
        function saveAsFile(content, filename) {
            const blob = new Blob([JSON.stringify(content, null, 2)], {
                type: "application/json"
            })
            const url = URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.download = filename;
            a.href = url;
            a.click();
        }

        let app = new Vue({
            el: '#app',
            data() {
                return {
                    pages: {
                        'General': {
                            value: 'general',
                            sections: [
                                {label: 'Annotations', value: 'annotation'},
                                {label: 'Dataset', value: 'dataset'},
                                {label: 'Modeling', value: 'modeling'},
                            ]
                        }
                    },
                    active_page: 'general',
                    active_section: 'annotation',
                    agreement_scores: null,
                    eval_scores: null,
                    groups: null,
                    datasets: null,
                    models: null,
                    selected_model: null,
                    selected_dataset: null,
                    validator: 'MAJORITY',
                }
            },
            methods: {
                initialize: function () {
                    $.get('/api/projects/{{ project_id }}/agreement')
                        .then((data) => {
                            this.agreement_scores = data.data;
                        }).catch(console.log);
                    $.get('/api/projects/{{ project_id }}/models')
                        .then((data) => {
                            this.models = data.data;
                            this.selected_model = this.models[0];
                        }).catch(console.log);
                    $.get('/api/projects/{{ project_id }}/datasets')
                        .then((data) => {
                            this.datasets = data.data;
                            this.selected_dataset = this.datasets[0];
                            this.update_groups();
                        }).catch(console.log);
                },
                update_groups: function () {
                    let args = '';
                    if (this.validator !== '') {
                        args += 'name=' + this.selected_dataset;
                    }
                    if (args !== '') {
                        args = '?' + args;
                    }
                    $.get('/api/projects/{{ project_id }}/groups' + args)
                        .then((data) => {
                            this.groups = data.data;
                            this.validator = 'MAJORITY';
                        }).catch(console.log);
                },
                download: function (event) {
                    let args = '';
                    if (this.validator !== '') {
                        args += 'validator=' + this.validator;
                    }
                    if (args !== '') {
                        args = '?' + args;
                    }
                    $.get('/api/projects/{{ project_id }}/datasets/download' + args)
                        .then((data) => {
                            if (data['status'] === 'success') {
                                const fn = this.selected_dataset + '_' + this.validator + '.json';
                                saveAsFile(data.data, fn);
                            }
                        }).catch(console.log);
                },
                evaluate: function () {
                    let data = {
                        dataset: this.selected_dataset,
                        model: this.selected_model,
                    };
                    $.post({
                        type: "POST",
                        url: '/api/projects/{{ project_id }}/models',
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=UTF-8',
                    }).then((data) => {
                        this.eval_scores = data.data;
                    }).catch(console.log);
                },
            },
            mounted: function () {
                this.initialize();
            },
            computed: {
                isLoading: function () {
                    return (this.agreement_scores === null) || (this.datasets === null) || (this.models === null);
                }
            },
            delimiters: ['((', '))']
        });
    </script>
{% endblock %}