{% extends '_layout.html' %}

{% from 'dashboard/labels.html' import render_labels_form with context %}
{% from 'dashboard/labels.html' import render_add_label_form with context %}
{% from 'dashboard/project.html' import render_project_form with context %}
{% from 'dashboard/users.html' import render_users_form with context %}
{% from 'dashboard/users.html' import render_add_user_form with context %}
{% from 'dashboard/agreement.html' import render_agreement with context %}
{% from 'dashboard/dataset.html' import render_dataset with context %}
{% from 'dashboard/modeling.html' import render_modeling with context %}
{% from 'dashboard/sidebar.html' import render_sidebar with context %}
{% from 'dashboard/documents.html' import render_upload_docs_form with context %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/dash.css">
{% endblock %}

{% macro render_content() %}
    <div class="container is-fluid">
        <template v-if="active_page === 'general.agreement'">
            {{ render_agreement() }}
        </template>
        <template v-else-if="active_page === 'general.dataset'">
            {{ render_dataset() }}
        </template>
        <template v-else-if="active_page === 'general.modeling'">
            {{ render_modeling() }}
        </template>
        {% if current_user.role == 'admin' %}
            <template v-else-if="active_page === 'editor.basic'">
                {{ render_project_form(project_form) }}
            </template>
            <template v-else-if="active_page === 'editor.labels'">
                {{ render_add_label_form(add_label_form) }}
                {{ render_labels_form(labels_form) }}
            </template>
            <template v-else-if="active_page === 'editor.users'">
                {{ render_add_user_form(add_user_form) }}
                {{ render_users_form(users_form) }}
            </template>
            <template v-else-if="active_page === 'editor.upload_docs'">
                {{ render_upload_docs_form(upload_docs_form) }}
            </template>
        {% endif %}
    </div>
{% endmacro %}

<!--suppress XmlUnboundNsPrefix -->
{% block is_full_content %}
    <section id="app">
        <template v-if="isLoading">
            <div class="loading-page">
                <div class="container">
                    <div class="columns mt-0">
                        <div class="column is-half is-offset-one-quarter">
                            <progress class="progress is-small is-primary" max="100">Loading</progress>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="columns mt-0" style="height: 100%;">
                <div class="column sidebar">
                    {{ render_sidebar() }}
                </div>
                <div class="column content p-3">
                    {{ render_content() }}
                </div>
            </div>
        </template>
    </section>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/scripts/vue.js"></script>
    <!--suppress JSUnresolvedFunction, JSUnresolvedVariable -->
    <script>
        function saveAsFile(content, filename) {
            const blob = new Blob([JSON.stringify(content, null, 2)], {
                type: "application/json"
            })
            const url = URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.download = filename;
            a.href = url;
            a.click();
        }

        let app = new Vue({
            el: '#app',
            data() {
                return {
                    pages: {
                        'General': {
                            value: 'general',
                            sections: [
                                {label: 'Agreement', value: 'agreement', icon: 'fa-chart-bar'},
                                {label: 'Dataset', value: 'dataset', icon: 'fa-table'},
                                {label: 'Modeling', value: 'modeling', icon: 'fa-magic'},
                            ]
                        },
                        {% if current_user.role == 'admin' %}
                            'Editor': {
                                value: 'editor',
                                sections: [
                                    {label: 'Basic', value: 'basic', icon: 'fa-tasks'},
                                    {label: 'Labels', value: 'labels', icon: 'fa-tags'},
                                    {label: 'Users', value: 'users', icon: 'fa-users'},
                                    {label: 'Documents', value: 'upload_docs', icon: 'fa-file-alt'},
                                ]
                            }
                        {% endif %}
                    },
                    active_page: this.getActivePage('general.annotation'),
                    agreement_scores: null,
                    eval_scores: null,
                    groups: null,
                    datasets: null,
                    models: null,
                    selected_model: null,
                    selected_dataset: null,
                    validator: 'MAJORITY',
                }
            },
            methods: {
                getActivePage: function (def) {
                    if (typeof (Storage) !== "undefined") {
                        if (typeof (localStorage.activePage) !== 'undefined') {
                            return localStorage.activePage;
                        }
                    }
                    return def;
                },
                initialize: function () {
                    $.get('/api/projects/{{ project_id }}/agreement')
                        .then((data) => {
                            this.agreement_scores = data.data;
                        }).catch(console.log);
                    $.get('/api/projects/{{ project_id }}/models')
                        .then((data) => {
                            this.models = data.data;
                            this.selected_model = this.models[0];
                        }).catch(console.log);
                    $.get('/api/projects/{{ project_id }}/datasets')
                        .then((data) => {
                            this.datasets = data.data;
                            this.selected_dataset = this.datasets[0];
                            this.update_groups();
                        }).catch(console.log);
                },
                update_groups: function () {
                    let args = '';
                    if (this.validator !== '') {
                        args += 'name=' + this.selected_dataset;
                    }
                    if (args !== '') {
                        args = '?' + args;
                    }
                    $.get('/api/projects/{{ project_id }}/groups' + args)
                        .then((data) => {
                            this.groups = data.data;
                            this.validator = 'MAJORITY';
                        }).catch(console.log);
                },
                download: function (event) {
                    let args = '';
                    if (this.validator !== '') {
                        args += 'validator=' + this.validator;
                    }
                    if (args !== '') {
                        args = '?' + args;
                    }
                    $.get('/api/projects/{{ project_id }}/datasets/download' + args)
                        .then((data) => {
                            if (data['status'] === 'success') {
                                const fn = this.selected_dataset + '_' + this.validator + '.json';
                                saveAsFile(data.data, fn);
                            }
                        }).catch(console.log);
                },
                evaluate: function () {
                    let data = {
                        dataset: this.selected_dataset,
                        model: this.selected_model,
                    };
                    $.post({
                        type: "POST",
                        url: '/api/projects/{{ project_id }}/models',
                        data: JSON.stringify(data),
                        contentType: 'application/json;charset=UTF-8',
                    }).then((data) => {
                        this.eval_scores = data.data;
                    }).catch(console.log);
                },
            },
            mounted: function () {
                this.initialize();
            },
            computed: {
                isLoading: function () {
                    return (this.agreement_scores === null) || (this.datasets === null) || (this.models === null);
                }
            },
            watch: {
                active_page: function () {
                    localStorage.setItem('activePage', this.active_page)
                }
            },
            delimiters: ['((', '))']
        });
    </script>
{% endblock %}