{% extends "layouts/base.html" %}
{% set activePage = "History" %}
{% block header %}
    {% include "includes/project-header.html.jinja" %}
{% endblock header %}
{% block styles %}
    {{ super() }}
    <style></style>
{% endblock styles %}
{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Text</th>
                <th class="text-center">
                    {% if request.args.get('flagged') == 'True' %}
                        <button class="btn header-button"
                                onmouseup="redirect('view_project_history_not_flagged');">
                            <i class="bi bi-flag-fill"></i>(<i class="bi bi-check-lg"></i>)
                        </button>
                    {% elif request.args.get('flagged') == 'False' %}
                        <button class="btn header-button"
                                onmouseup="redirect('view_project_history');">
                            <i class="bi bi-flag"></i>(<i class="bi bi-x-lg"></i>)
                        </button>
                    {% else %}
                        <button class="btn header-button"
                                onmouseup="redirect('view_project_history_flagged');">
                            <i class="bi bi-flag"></i>
                        </button>
                    {% endif %}
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for doc, aset in documents.items %}
                <tr>
                    <th scope="row">{{ doc.id }}</th>
                    <td>{{ doc.text | safe }}</td>
                    <td class="text-center">
                        {% if aset.flagged %}
                            <i class="bi bi-check-lg"></i>
                        {% else %}
                            <i class="bi bi-x-lg"></i>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-outline-primary"
                           href="{{ url_for('annotate.annotate', project_id=project.id, document_id=doc.id) }}">
                            <i class="bi bi-tag"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">{{ render_pagination(documents, 'project.view_project_history') }}</div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script>
    const url_for = {
        'view_project_history_not_flagged': "{{ url_for('project.view_project_history',project_id=project.id,flagged=false) }}",
        'view_project_history_flagged': "{{ url_for('project.view_project_history',project_id=project.id,flagged=true) }}",
        'view_project_history': "{{ url_for('project.view_project_history',project_id=project.id) }}",
    }

    function redirect(path) {
        location.replace(url_for[path]);
    }
    </script>
{% endblock scripts %}
