{% extends '_layout.html' %}

{% set is_index = true %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block is_full_content %}
    <section class="hero is-fullheight-with-navbar" style="font-family: 'Roboto', sans-serif;">
        <div class="hero-body">
            <div class="container p-6">
                <div class="columns">
                    <div class="column has-text-centered">
                        <h1 class="title is-1">
                            TextFlow
                        </h1>
                        <h2 class="subtitle">
                            Text Modeling Simplified!
                        </h2>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="is-text">A simple and extensible framework for end to end text based natural language
                            understanding.</p>
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="buttons is-centered">
                        <a class="button is-link is-light" href="https://docs.textflow.app/">Documentation</a>
                        <a class="button is-link is-light" href="https://github.com/ysenarath/textflow">GitHub Project</a>
                    </div>
                </div>
                <div class="columns">
                    <div class="m-6 p-3"></div>
                </div>
                <!-- </div><div class="hero-foot"> -->
                <div class="columns">
                    <div class="column">
                        <nav class="level">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Annotate</p>
                                    <span class="is-size-1">
                                <i class="fas fa-tag"></i>
                            </span>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Model</p>
                                    <span class="is-size-1">
                                <i class="fas fa-cogs"></i>
                            </span>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading">Evaluate</p>
                                    <span class="is-size-1">
                                <i class="fas fa-chart-pie"></i>
                            </span>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>TextFlow</strong> by <a href="https://www.ysenarath.com">Yasas
                Senarath</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
{% endblock %}