{% extends '_layout.html' %}

{% block is_full_content %}
    <section class="hero is-primary is-medium is-light is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="col">
                        <h1 class="title">
                            TextFlow
                        </h1>
                        <h2 class="subtitle">
                            Annotation Simplified
                        </h2>
                    </div>
                    <div class="col">
                        <figure class="image is-square">
                            <img src="static/images/hero-image.png">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}