{% extends '_layout.html' %}

{% block content %}
    <div class="box mt-6">
        <div class="block">
            <div class="table-container">
                <table class="table is-fullwidth">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    {% for p in projects.items %}
                        <tr>
                            <td>{{ p.id }}</td>
                            <td>{{ p.name }}</td>
                            <td>{{ p.description }}</td>
                            <td>
                                <a href="/projects/{{ p.id }}" class="button is-link is-light">
                                    <i class="fas fa-tasks mr-1"></i></a>
                                <a href="/projects/{{ p.id }}/annotate" class="button is-link is-light">
                                    <i class="fas fa-tag"></i></a>
                                {% if p.role in ['admin', 'manager'] %}
                                    <a href="{{ url_for('dashboard_view.dashboard', project_id=p.id) }}"
                                       class="button is-danger is-light">
                                        <i class="fas fa-chart-line"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-flex justify-content-center">
                {{ render_pagination(projects, 'project_view.list_projects') }}
            </div>
        </div>
    </div>
{% endblock %}