{% extends 'layouts/base.html' %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for p in projects.items %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.name }}</td>
            <td>{{ p.description }}</td>
            <td>
                <div class="d-grid gap-2 d-flex justify-content-end">
                    <a href="{{ url_for('project.view_project', project_id=p.id) }}" class="btn btn-outline-primary">
                        <i class="bi bi-view-list"></i>
                    </a>
                    <a href="{{ url_for('annotate.annotate_next', project_id=p.id) }}" class="btn btn-outline-primary">
                        <i class="bi bi-tag"></i>
                    </a>
                    {% if p.role in ['admin', 'manager'] %}
                    <a href="{{ url_for('dashboard.index', project_id=p.id) }}" class="btn btn-outline-primary">
                        <i class="bi bi-gear"></i>
                    </a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-center">
    {{ render_pagination(projects, 'project.list_projects') }}
</div>
{% endblock %}