<script id="documents-section-template" type="text/x-handlebars-template">
    {% set form = forms.upload_documents %}
    <form method="POST"
          action="{{ url_for('dashboard.upload_documents', project_id=project_id, obj='docs') }}"
          enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <label class="label">Upload</label>
                    <div class="control">
                        <div class="file">
                            <label class="file-label">
                                {{ form.file(class_='file-input') }}
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">Choose a file…</span>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="field w-100">
                    <label class="label">⠀</label>
                    <input class="button is-link" type="submit" value="Submit"/>
                </div>
            </div>
        </div>
    </form>
</script>

<!--suppress JSUnresolvedVariable -->
<script>
    templates.add('documents', function () {
        let source = document.getElementById("documents-section-template").innerHTML;
        let template = Handlebars.compile(source);
        let data = {};

        function render(id) {
            document.getElementById(id).innerHTML = template(data)
        }

        return {render}
    })
</script>