{% macro render_modeling() %}
    <div class="box">
        <p class="title">Evaluate</p>
        <div class="block">
            <div class="field is-grouped">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="model-select" class="label">Model</label>
                    </div>
                </div>
                <div class="control">
                    <div class="select">
                        <select for="model-select" v-model="selected_dataset">
                            <option v-for="dataset in datasets">(( dataset ))</option>
                        </select>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-link" v-on:click="evaluate">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <!-- Results block -->
        <div class="block" v-if="eval_scores !== null">
            <div class="table-container">
                <table class="table">
                    <tr>
                        <th v-for="col in eval_scores.header">(( col ))</th>
                    </tr>
                    <tr v-for="cols in eval_scores.rows">
                        <td v-for="col in cols">
                            <template v-if="Array.isArray(col)">
                                <div class="tags are-small">
                                    <span class="tag" v-for="item in col">(( item ))</span>
                                </div>
                            </template>
                            <template v-else>
                                (( col ))
                            </template>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endmacro %}