<div class="field is-horizontal">
    <div class="field-body">
        <div class="field w-100">
            <label for="dataset-select" class="label">Dataset</label>
            <div class="control">
                <div class="select w-100">
                    <select class="input" id="dataset-select" v-model="selectedDataset">
                        <option v-for="dataset in datasets">%{dataset}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field w-100">
            <label for="estimator-select" class="label">Estimator</label>
            <div class="control">
                <div class="select w-100">
                    <select class="input" id="estimator-select" v-model="selectedEstimator">
                        <option v-for="estimator in estimators">%{estimator}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">⠀</label>
            <div class="control is-flex is-justify-content-flex-end">
                <button id="train-estimator-button" class="button is-link" style="min-width: 8em;"
                        v-on:click="train">Train
                </button>
            </div>
        </div>
    </div>
</div>