{% raw %}
<script id="models-section-template" type="text/x-handlebars-template">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field w-100">
                <label for="dataset-select" class="label">Dataset</label>
                <div class="control">
                    <div class="select w-100">
                        <select class="input" id="dataset-select">
                            {{#each data.datasets}}
                            <option>{{ this }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field w-100">
                <label for="validator-select" class="label">Estimator</label>
                <div class="control">
                    <div class="select w-100">
                        <select class="input" id="estimator-select">
                            {{#each data.estimators}}
                            <option>{{ this }}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">⠀</label>
                <div class="control is-flex is-justify-content-flex-end">
                    <button id="train-estimator-button" class="button is-link" style="min-width: 8em;">Train</button>
                </div>
            </div>
        </div>
    </div>
</script>
{% endraw %}

<!--suppress JSUnresolvedVariable -->
<script>
    templates.add('models', function () {
        let source = document.getElementById("models-section-template").innerHTML;
        let template = Handlebars.compile(source);
        let data = {};

        let methods = {
            train: function () {
                $.post({
                    type: "POST",
                    url: '{{ url_for('dashboard.estimator_fit', project_id=project_id) }}',
                    data: JSON.stringify({
                        dataset: data.selectedDataset,
                        estimator: data.selectedEstimator,
                    }),
                    contentType: 'application/json;charset=UTF-8',
                }).then((payload) => {
                    console.log(payload)
                });
            },
        }

        function render(id) {
            $.get('{{ url_for('dashboard.get_dataset_names', project_id=project_id) }}').then((payload) => {
                data.datasets = payload.data;
                data.selectedDataset = payload.data[0];
                $.get('{{ url_for('dashboard.get_estimator_names', project_id=project_id) }}').then((payload) => {
                    data.estimators = payload.data;
                    data.selectedEstimator = payload.data[0];
                    document.getElementById(id).innerHTML = template({data})
                    let datasetSelect = document.getElementById('dataset-select');
                    datasetSelect.addEventListener('change', () => {
                        data.selectedDataset = datasetSelect.value;
                    });
                    let estimatorSelect = document.getElementById('estimator-select');
                    estimatorSelect.addEventListener('change', () => {
                        data.selectedEstimator = estimatorSelect.value;
                    });
                    let trainModelButton = document.getElementById('train-estimator-button')
                    trainModelButton.addEventListener('click', () => {
                        methods.train();
                    });
                });
            });
        }

        return {render}
    })
</script>