{% set form = forms.update_project %}

<form method="POST" action="{{ url_for('dashboard.post_project', project_id=project_id) }}">
    {{ form.csrf_token }}
    <div class="row gy-3">
        <div class="col col-5">
            <label class="form-label">{{ form.name.label }}</label>
            {{ form.name(size=24, class_="form-control") }}
        </div>
        <div class="col col-2">
            <label class="form-label">{{ form.redundancy.label }}</label>
            {{ form.redundancy(class_="form-control", type='number') }}
        </div>
        <div class="col col-12">
            <label class="form-label">{{ form.description.label }}</label>
            {{ form.description(class_="form-control") }}
        </div>
        <div class="col col-12">
            <label class="form-label">{{ form.guideline_template.label }}</label>
            {{ form.guideline_template(class_="form-control", rows=10) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col col-12">
            <input class="btn btn-outline-primary" style="min-width: 8em;" type="submit" value="Update" />
        </div>
    </div>
</form>