{% extends 'layouts/base.html' %}
{% block styles %}
    {{ super() }}
    <style>
        .sidebar {
            min-width: 15em;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="app" class="d-flex flex-row" style="height: 100%;">
        <div class="sidebar">
            <ul class="nav flex-column nav-pills">
                {% for title, sections in sidebar %}
                    <li class="nav-item">
                        <a class="nav-link disabled">{{ title }}</a>
                    </li>
                    {% for section in sections %}
                        <li class="nav-item">
                            <a class="nav-link"
                               v-on:click.stop.prevent="viewSection('{{ section.value }}')">
                                <i class="bi bi-{{ section.icon }} me-1" aria-hidden="true"></i>
                                {{ section.label }}
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div class="w-100">
            <status-component v-if="activeSection == 'status'"></status-component>
            <users-component v-if="activeSection == 'users'"></users-component>
            <documents-component v-if="activeSection == 'documents'"></documents-component>
            <project-component v-if="activeSection == 'project'"></project-component>
            <tasks-component v-if="activeSection == 'tasks'"></tasks-component>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='packages/vue-js/vue.global.prod.js') }}"></script>
    
    <!--suppress JSUnresolvedFunction -->
    <script>
    const url_for = {
        get_project_status: "{{ url_for('dashboard.get_project_status', project_id=project_id) }}",
        delete_documents: "{{ url_for('dashboard.delete_documents', project_id=project_id) }}",
        upload_documents: "{{ url_for('dashboard.upload_documents', project_id=project_id) }}",
    }

    const app = Vue.createApp({
        data: function () {
            return {
                activeSection: '{{ section }}',
            }
        },
        methods: {
            viewSection: function (section) {
                let url = "{{ url_for('dashboard.update_section', project_id=project_id) }}?value=" + section;
                $.get(url).then((payload) => {
                    this.activeSection = payload.data;
                }).catch(e => {
                    console.error('Unable to reach server. Please check your internet connection.');
                    console.warn('Your session page won\'t be saved.');
                    console.log(e);
                    this.activeSection = section;
                });
            },
            initialize: function () {
                // Initialize document turn to current page
                this.viewSection(this.activeSection);
            },
        },
        mounted: function () {
            // Initialize when document is ready
            this.initialize();
        },
        delimiters: ['${', '}'],
    });

    app.component('status-component', {
        data: function () {
            return {
                numDocuments: 0,
                numCompleted: 0,
                numRemaining: 0,
                percentage: 0,
            }
        },
        methods: {
            initialize: function () {
                $.get(url_for.get_project_status)
                    .then((payload) => {
                        this.numDocuments = payload.data['num_documents'];
                        this.numCompleted = payload.data['num_completed'];
                        this.numRemaining = payload.data['num_remaining'];
                        this.percentage = payload.data['percentage'];
                    }).catch(console.log);
            }
        },
        mounted: function () {
            // Initialize when document is ready
            this.initialize();
        },
        delimiters: ['${', '}'],
        template: `{% include 'dashboard/status.html' %}`
    });

    app.component('users-component', {
        delimiters: ['${', '}'],
        template: `{% include 'dashboard/users.html' %}`
    });

    app.component('documents-component', {
        data() {
            return {
                isUploading: false,
                isDeleting: false,
                selectedFile: null,
            }
        },
        methods: {
            changeSelectedFile: function () {
                let uploadForm = document.getElementById('upload-documents-form');
                var formData = new FormData(uploadForm);
                selectedFile = formData.get('file');
                if (selectedFile && selectedFile.name !== '') {
                    this.selectedFile = selectedFile;
                } else {
                    this.selectedFile = null;
                }
            },
            uploadDocuments: function () {
                this.isUploading = true;
                let uploadForm = document.getElementById('upload-documents-form');
                var formData = new FormData(uploadForm);
                $.ajax({
                    type: "POST",
                    url: url_for.upload_documents,
                    data: formData,
                    contentType: false,
                    processData: false
                }).then(
                    (data) => {
                        console.log(data);
                        this.isUploading = false;
                    }
                ).catch(
                    (err) => {
                        console.log(err);
                        this.isUploading = false;
                    }
                );
            },
            deleteDocuments: function () {
                this.isDeleting = true;
                $.ajax({
                    type: "DELETE",
                    url: url_for.delete_documents,
                    contentType: 'application/json;charset=UTF-8',
                }).then(
                    (data) => {
                        console.log(data);
                        this.isDeleting = false;
                    }
                ).catch(
                    (err) => {
                        console.log(err);
                        this.isDeleting = false;
                    }
                );
            }
        },
        delimiters: ['${', '}'],
        template: `{% include 'dashboard/documents.html' %}`,
    });

    app.component('project-component', {
        delimiters: ['${', '}'],
        template: `{% include 'dashboard/project.html' %}`
    });

    app.component('tasks-component', {
        data: function () {
            return {
                numCreatedLabels: {},
            }
        },
        methods: {
        },
        delimiters: ['${', '}'],
        template: `{% include 'dashboard/tasks.html' %}`
    });

    app.mount('#app');
    </script>
{% endblock %}
